--swift-version 6.3
--enable acronyms
--disable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLineAfterSwitchCase
--blank-line-after-switch-case always
--enable blankLinesAfterGuardStatements
--line-between-guards true
--enable blankLinesAroundMark
--disable blankLinesAtEndOfScope
--type-blank-lines remove
--enable blankLinesAtStartOfScope
--type-blank-lines remove
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable blockComments
--enable braces
--enable conditionalAssignment
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable consistentSwitchCaseSpacing
--disable docComments
--enable docCommentsBeforeModifiers
--enable duplicateImports
--enable elseOnSameLine
--elseposition same-line
--guardelse same-line
--enable emptyBraces
--emptybraces no-space
--enable emptyExtensions
--disable ifExpressions
--enable enumNamespaces
--enumnamespaces always
--enable environmentEntry
--enable extensionAccessControl
--extensionacl on-extension
--enable fileHeader
--header \n {file}\n\n Copyright © {created.year} Rivia Corp s.r.o.\n
--enable fileMacro
--enable genericExtensions
--enable headerFileName
--enable hoistAwait
--enable hoistPatternLet
--enable hoistTry
--enable indent
--indent 4
--tabwidth 4
--smarttabs true
--indentcase true
--ifdef indent
--indentstrings true
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--linebreaks lf
--enable markTypes
--marktypes always
--markextensions always
--enable modifierOrder
--enable modifiersOnSameLine
--disable noExplicitOwnership
--enable noForceTryInTests
--enable noForceUnwrapInTests
--enable noGuardInTests
--guard-like-if-statements convert
--boolean-guards-in-tests convert
--enable numberFormatting
--hex-literal-case uppercase
--enable opaqueGenericParameters
--disable organizeDeclarations
--enable preferContains
--enable preferCountWhere
--disable preferExplicitFalse
--disable preferFinalClasses
--enable preferFirstWhere
--enable preferFlatMap
--enable preferForLoop
--enable preferKeyPath
--enable preferLazyMap
--enable preferMinOverSorted
# Keep string operations compatible with the package deployment targets.
--disable preferSwiftStringAPI
--enable preferSwiftTesting
--enable privateStateVariables
--enable propertyTypes
--propertytypes explicit
--enable redundantAsync
--enable redundantBackticks
--enable redundantBreak
--enable redundantClosure
--enable redundantEmptyView
--enable redundantEquatable
--enable redundantExtendedLifetime
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantMemberwiseInit
--prefer-synthesized-init-for-internal-structs always
--enable redundantNilInit
--nilinit insert
--enable redundantObjc
--enable redundantOptionalBinding
--redundant-optional-binding always
--enable redundantParens
--enable redundantPattern
--enable redundantPublic
--disable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--self insert
--enable redundantSendable
--enable redundantStaticSelf
--enable redundantSwiftTestingSuite
--enable redundantSwiftUIGroup
--enable redundantThrows
--enable redundantType
--redundanttype explicit
--enable redundantTypedThrows
--enable redundantVariable
--enable redundantViewBuilder
--enable redundantVoidReturnType
--closurevoid remove
--enable semicolons
--semicolons never
--enable simplifyGenericConstraints
--enable singlePropertyPerLine
--enable sortDeclarations
--enable sortImports
--enable sortSwitchCases
--locale en_US
--enable sortTypealiases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable swiftTestingTestCaseNames
--enable testSuiteAccessControl
--enable todos
--enable trailingClosures
--enable trailingCommas
--trailing-commas always
--enable trailingSpace
--trimwhitespace always
--enable typeSugar
--shortoptionals always
--enable unusedArguments
--stripunusedargs always
--enable unusedPrivateDeclarations
--enable urlMacro
--enable validateTestCases
--enable void
--enable wrap
--maxwidth 120
--enable wrapArguments
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--wrapreturntype if-multiline
--wrapconditions before-first
--wraptypealiases before-first
--wrapeffects if-multiline
--enable wrapAttributes
--funcattributes prev-line
--typeattributes prev-line
--storedvarattrs same-line
--computedvarattrs same-line
--enable wrapCaseBodies
--enable wrapEnumCases
--enable wrapGuardStatementBodies
--wrapenumcases with-values
--enable wrapFunctionBodies
--enable wrapIfExpressionBodies
--enable wrapIfStatementBodies
--enable wrapLoopBodies
--disable wrapMultilineConditionalAssignment
--enable wrapMultilineFunctionChains
--enable wrapMultilineStatementBraces
--enable wrapPropertyBodies
--enable wrapSingleLineComments
--disable wrapSwitchCases
--enable yodaConditions
